docs/xsd/Bilan_V06.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 rel. 2 sp2 (http://www.altova.com) by Roux (DIR. INFO LEGALE ADMINISTRATIVE) -->
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by journal-officiel (Direction Journaux Officiels) -->
<!-- ********************************************************************************************************************************************************************************** -->
<!-- Version V01 du 10/06/08                                                                                                                                                                                                      -->
<!-- Version V02 du 18/07/2008    adresse et depot passé en optionnel pour les annulation.                                                                                                   -->
<!-- Version V03 du 15/04/2010    prise en compte du nouveau numéro de département de la Mayotte (976)                                                                         -->
<!-- Version V06 du 8/04/2014    prise en compte du nouveau champ descriptif                                                                         -->
<!-- ********************************************************************************************************************************************************************************** -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:iso4217="urn:un:unece:uncefact:codelist:standard:5:4217:2001" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Bilan_XML_Rediff">
		<xs:annotation>
			<xs:documentation>Composant Annonce Modifications générales et Radiation pour les Reffuseurs</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="parution" type="Parution_Type">
					<xs:annotation>
						<xs:documentation>Numero de la parution</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="dateParution" type="AlphaNum_Type">
					<xs:annotation>
						<xs:documentation>Date de la parution</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="listeAvis">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="avis" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="typeAnnonce">
											<xs:annotation>
												<xs:documentation>Type de l'annonce</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:choice>
													<xs:element name="annonce">
														<xs:simpleType>
															<xs:restriction base="AlphaNum_Type">
																<xs:length value="0"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="rectificatif">
														<xs:simpleType>
															<xs:restriction base="AlphaNum_Type">
																<xs:length value="0"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="annulation">
														<xs:simpleType>
															<xs:restriction base="AlphaNum_Type">
																<xs:length value="0"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:choice>
											</xs:complexType>
										</xs:element>
										<xs:element name="nojo">
											<xs:annotation>
												<xs:documentation>Numéro d'identification J.O.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="AlphaNum_Type">
													<xs:length value="15"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="numeroAnnonce">
											<xs:annotation>
												<xs:documentation>Numéro de l'avis dans la parution</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="Num_Type">
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="numeroDepartement" type="Departement_Type">
											<xs:annotation>
												<xs:documentation>N° de département du Greffe</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="tribunal" type="AlphaNum_Type">
											<xs:annotation>
												<xs:documentation>Code Greffe qui a procédé à l'avis -</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="numeroImmatriculation">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="numeroIdentificationRCS">
														<xs:annotation>
															<xs:documentation>N° d'identification au format NNN NNN NNN </xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:token">
																<xs:length value="11"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="codeRCS">
														<xs:annotation>
															<xs:documentation>valeur fixée à "RCS"</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="Alpha_Type">
																<xs:length value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="nomGreffeImmat" type="NomGreffe_Type">
														<xs:annotation>
															<xs:documentation>Greffe d'immatriculation du dossier </xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="denomination" type="NomDenomination_Type">
											<xs:annotation>
												<xs:documentation>Dénomination</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="sigle" type="Sigle_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Sigle</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="formeJuridique" type="AlphaNum_Type" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Forme juridique (Ex : Société Anonyme, SARL, EURL,...)</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="adresse" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Adresse</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:choice>
													<xs:element name="france" type="AdresseFrance_Type">
														<xs:annotation>
															<xs:documentation>Adresse en France de la société </xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="etranger" type="AdresseEtranger_Type">
														<xs:annotation>
															<xs:documentation>Adresse à l'étranger</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:choice>
											</xs:complexType>
										</xs:element>
										<xs:element name="depot" type="Depot_Type" minOccurs="0"/>
										<xs:element name="parutionAvisPrecedent" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Information sur l'avis à rectifier</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="nomPublication" type="Alpha_Type"/>
													<xs:element name="numeroParution" type="Parution_Type">
														<xs:annotation>
															<xs:documentation>Numéro de la parution précédente</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="dateParution" type="AlphaNum_Type">
														<xs:annotation>
															<xs:documentation>Date de la parution précédente</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="numeroAnnonce" type="Num_Type">
														<xs:annotation>
															<xs:documentation>Numéro de l'avis dans la parution précédente</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- date -->
	<xs:simpleType name="Date_Type">
		<xs:annotation>
			<xs:documentation>type simple format date YYYY-MM-DD</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date">
			<xs:pattern value="....-..-.."/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateHeure_Type">
		<xs:annotation>
			<xs:documentation>format YYYY-MM-DDTHH:MM:SS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime">
			<xs:pattern value="....-..-..T..:..:.."/>
		</xs:restriction>
	</xs:simpleType>
	<!-- string -->
	<xs:simpleType name="Alpha_Type">
		<xs:annotation>
			<xs:documentation>type A :  tous les caractères, toutes les pontuations, tous les symboles, [ \p{M}\p{P}\p{S}\p{L}\p{Z}\p{C} &amp; &lt; &gt;]*</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:pattern value="[ \p{M}\p{P}\p{S}\p{L}\p{Z}\p{C} ]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlphaNum_Type">
		<xs:annotation>
			<xs:documentation>type AN : tous les caractères, tous les chiffres, toutes les pontuations, tous les symboles, [ \p{M}\p{P}\p{S}\p{L}\p{N}\p{Z}\p{C} &amp; &lt; &gt;]*</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:pattern value="[\p{M}\p{P}\p{S}\p{L}\p{N}\p{Z}\p{C}]*"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- number -->
	<xs:simpleType name="Num_Type">
		<xs:annotation>
			<xs:documentation>type N : tous les chiffres</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:pattern value="[\d]*"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- technique -->
	<xs:simpleType name="NomDenomination_Type">
		<xs:annotation>
			<xs:documentation>type anySimpleType</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AlphaNum_Type">
			<xs:minLength value="1"/>
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Sigle_Type">
		<xs:annotation>
			<xs:documentation>type anySimpleType</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AlphaNum_Type">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodePostal_Type">
		<xs:annotation>
			<xs:documentation>Code Postal</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Num_Type">
			<xs:length value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Departement_Type">
		<xs:annotation>
			<xs:documentation>code département</xs:documentation>
		</xs:annotation>
		<xs:restriction base="AlphaNum_Type">
			<xs:minLength value="2"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="2A|2B|[0-2]{1}[1-9]{1}|10|[3-8]{1}\d{1}|[9]{1}[0-5]{1}|(97[1-6]{1})|98[4-8]{1}|99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NumeroGreffe_Type">
		<xs:annotation>
			<xs:documentation>code Greffe</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Num_Type">
			<xs:minLength value="4"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="\d{4,5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NomGreffe_Type">
		<xs:annotation>
			<xs:documentation>dérivé de Alpha_Type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Alpha_Type">
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Parution_Type">
		<xs:restriction base="Num_Type">
			<xs:length value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AdresseEtranger_Type">
		<xs:sequence>
			<xs:element name="adresse">
				<xs:annotation>
					<xs:documentation>Nom d'adresse à l'étranger</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="AlphaNum_Type">
						<xs:minLength value="1"/>
						<xs:maxLength value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="pays" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nom du pays</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="Alpha_Type">
						<xs:minLength value="1"/>
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdresseFrance_Type">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="numeroVoie" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Numéro de la voie
Ex : 4</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="AlphaNum_Type">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="typeVoie" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Type de la voie
Ex : rue</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="Alpha_Type">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="nomVoie" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nom de la voie
Ex : d'Enfer</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="AlphaNum_Type">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="complGeographique" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Complément gépgraphique
Ex : Résidence Bel-Air</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="AlphaNum_Type">
						<xs:minLength value="1"/>
						<xs:maxLength value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BP" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Boîte postale
Ex : BP 14192</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="AlphaNum_Type">
						<xs:minLength value="1"/>
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="localite" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Localité
Ex : Saint-Chéron</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="Alpha_Type">
						<xs:minLength value="1"/>
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="codePostal" type="CodePostal_Type">
				<xs:annotation>
					<xs:documentation>Code Postal
Ex : 51290</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ville">
				<xs:annotation>
					<xs:documentation>Ville/Bureau distributeur
Ex : Saint-Rémy-en-Bouzemont-Saint-Genest-et-Isson</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="AlphaNum_Type">
						<xs:minLength value="1"/>
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NumeroImmatriculation_Type">
		<xs:annotation>
			<xs:documentation>NNN NNN NNN RCS XXXXXX avec NNN NNN NNN N° d'identification et XXXXXXX Greffe d'immatriculation du dossier (Ex : 324 568 789 RCS Paris)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="numeroIdentification">
				<xs:annotation>
					<xs:documentation>N° d'identification au format NNN NNN NNN</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="11"/>
						<xs:pattern value="\d{3} \d{3} \d{3}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="codeRCS">
				<xs:annotation>
					<xs:documentation>valeur fixée à "RCS"</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="Alpha_Type">
						<xs:length value="3"/>
						<xs:enumeration value="RCS"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="nomGreffeImmat" type="NomGreffe_Type">
				<xs:annotation>
					<xs:documentation>Greffe d'immatriculation du dossier </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Depot_Type">
		<xs:annotation>
			<xs:documentation xml:lang="fr">définition d'un dépôt</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:annotation>
				<xs:documentation xml:lang="fr"/>
			</xs:annotation>
			<xs:element name="dateCloture" type="Date_Type">
				<xs:annotation>
					<xs:documentation>Date de clôture des comptes</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="typeDepot">
				<xs:annotation>
					<xs:documentation xml:lang="fr">Enumération : Comptes annuels et rapports
Comptes consolidés et rapports
Comptes annuels et consolidés et rapports</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="Alpha_Type">
						<xs:enumeration value="Comptes annuels et rapports"/>
						<xs:enumeration value="Comptes consolidés et rapports"/>
						<xs:enumeration value="Comptes annuels, consolidés et rapports"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="descriptif" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fr">Descriptif à publier
Ex : Cette société a également déposé une déclaration de confidentialité des comptes annuels en application du premier alinéa de l'article L.232-25.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="AlphaNum_Type"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
